In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
weather_df = pd.read_excel('dataset/april_weather.xls')

In [3]:
d = {}
for i, j in zip(weather_df.columns, weather_df.loc[5]):
    d[f'{i}'] = j

In [4]:
weather_df = weather_df.rename(columns=weather_df.loc[5])
weather_df = weather_df.rename(columns={'Местное время в Астане': 'date'})

In [5]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    246 non-null    object
 1   T       241 non-null    object
 2   Po      241 non-null    object
 3   P       240 non-null    object
 4   Pa      241 non-null    object
 5   U       241 non-null    object
 6   DD      241 non-null    object
 7   Ff      241 non-null    object
 8   ff10    1 non-null      object
 9   ff3     4 non-null      object
 10  N       241 non-null    object
 11  WW      241 non-null    object
 12  W1      45 non-null     object
 13  W2      45 non-null     object
 14  Tn      31 non-null     object
 15  Tx      61 non-null     object
 16  Cl      91 non-null     object
 17  Nh      91 non-null     object
 18  H       91 non-null     object
 19  Cm      62 non-null     object
 20  Ch      56 non-null     object
 21  VV      141 non-null    object
 22  Td      241 non-null    object
 23  RRR     25 non-null     object
 24  tR      25 non-null     object
 25  E       9 non-null      object
 26  Tg      7 non-null      object
 27  E'      9 non-null      object
 28  sss     9 non-null      object
dtypes: object(29)
memory usage: 55.9+ KB

In [6]:
weather_df = weather_df.drop(columns=['ff10', 'ff3', 'W1', 'W2',
                        'Tn', 'Tx', 'Cl', 'Nh',
                        'H', 'Cm', 'Ch', 'VV',
                        'RRR', 'tR', 'E', 'Tg',
                        "E'", 'sss', 'WW', 'DD'])

In [7]:
weather_df = weather_df.drop(index=[0,1,2,3,4,5])
weather_df = weather_df.reset_index(drop=True)
weather_df['P'] = weather_df['P'].fillna(weather_df['P'].astype('float32').mean())

weather_df.head(5)

               date     T     Po      P   Pa   U Ff             N    Td
0  30.04.2023 21:00  12.1  734.2  765.4  0.1  28  1          40%.  -6.2
1  30.04.2023 18:00  14.3  734.1  765.1 -0.3  18  2         100%. -10.1
2  30.04.2023 15:00  13.7  734.4  765.4 -0.1  23  3       20–30%.  -7.1
3  30.04.2023 12:00  10.6  734.5  765.9  0.3  26  2  Облаков нет.  -8.4
4  30.04.2023 09:00   6.4  734.2  766.0  1.2  38  2  Облаков нет.    -7

In [8]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    240 non-null    object
 1   T       240 non-null    object
 2   Po      240 non-null    object
 3   P       240 non-null    float64
 4   Pa      240 non-null    object
 5   U       240 non-null    object
 6   Ff      240 non-null    object
 7   N       240 non-null    object
 8   Td      240 non-null    object
dtypes: float64(1), object(8)
memory usage: 17.0+ KB

In [9]:
# all_DD_features = weather_df['Unnamed: 6'].astype("category").cat.categories
# all_DD_features = {item: i + 1 for i, item in enumerate(weather_df['DD'].unique())}

# weather_df['DD'] = weather_df['DD'].map(all_DD_features)

In [10]:
# weather_df['N'].unique()
weather_df['N'] = weather_df['N'].replace('Облаков нет.', 0)
weather_df['N'] = weather_df['N'].replace(['20–30%.', '70 – 80%.', '90  или более, но не 100%'], 
                                                              [25, 75, 95])

weather_df['N'] = weather_df['N'].replace(r'\D+', '', regex=True).astype('float16')

In [11]:
weather_df.head(5)

               date     T     Po      P   Pa   U Ff      N    Td
0  30.04.2023 21:00  12.1  734.2  765.4  0.1  28  1   40.0  -6.2
1  30.04.2023 18:00  14.3  734.1  765.1 -0.3  18  2  100.0 -10.1
2  30.04.2023 15:00  13.7  734.4  765.4 -0.1  23  3   25.0  -7.1
3  30.04.2023 12:00  10.6  734.5  765.9  0.3  26  2    0.0  -8.4
4  30.04.2023 09:00   6.4  734.2  766.0  1.2  38  2    0.0    -7

In [12]:
weather_df['date'] = pd.to_datetime(weather_df['date'])

C:\Users\A48\AppData\Local\Temp\ipykernel_9984\157525050.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  weather_df['date'] = pd.to_datetime(weather_df['date'])

In [13]:
weather_df['year'] = weather_df['date'].dt.year
weather_df['month'] = weather_df['date'].dt.month
weather_df['day'] = weather_df['date'].dt.day
weather_df['hour'] = weather_df['date'].dt.hour
weather_df['dayofweek'] = weather_df['date'].dt.dayofweek
weather_df = weather_df.drop(columns='date')

weather_df.head(5)

,T,Po,P,Pa,U,Ff,N,Td,year,month,day,hour,dayofweek
0,12.1,734.2,765.4,0.1,28,1,40.0,-6.2,2023,4,30,21,6
1,14.3,734.1,765.1,-0.3,18,2,100.0,-10.1,2023,4,30,18,6
2,13.7,734.4,765.4,-0.1,23,3,25.0,-7.1,2023,4,30,15,6
3,10.6,734.5,765.9,0.3,26,2,0.0,-8.4,2023,4,30,12,6
4,6.4,734.2,766.0,1.2,38,2,0.0,-7,2023,4,30,9,6

In [14]:
weather_df = weather_df.astype('float16')
weather_df

,T,Po,P,Pa,U,Ff,N,Td,year,month,day,hour,dayofweek
0,12.101562,734.0,765.5,0.099976,28.0,1.0,40.0,-6.199219,2023.0,4.0,30.0,21.0,6.0
1,14.296875,734.0,765.0,-0.300049,18.0,2.0,100.0,-10.101562,2023.0,4.0,30.0,18.0,6.0
2,13.703125,734.5,765.5,-0.099976,23.0,3.0,25.0,-7.101562,2023.0,4.0,30.0,15.0,6.0
3,10.601562,734.5,766.0,0.300049,26.0,2.0,0.0,-8.398438,2023.0,4.0,30.0,12.0,6.0
4,6.398438,734.0,766.0,1.200195,38.0,2.0,0.0,-7.000000,2023.0,4.0,30.0,9.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2.900391,746.0,779.0,0.000000,38.0,2.0,0.0,-10.101562,2023.0,4.0,1.0,12.0,5.0
236,-1.599609,746.0,779.5,0.399902,52.0,2.0,0.0,-10.296875,2023.0,4.0,1.0,9.0,5.0
237,-2.900391,746.0,779.0,0.000000,69.0,1.0,0.0,-7.800781,2023.0,4.0,1.0,6.0,5.0
238,-2.500000,746.0,779.0,-0.399902,66.0,2.0,0.0,-8.101562,2023.0,4.0,1.0,3.0,5.0
239,-0.199951,746.0,779.5,0.300049,60.0,2.0,0.0,-7.101562,2023.0,4.0,1.0,0.0,5.0

In [15]:
weather_df.head(5)

,T,Po,P,Pa,U,Ff,N,Td,year,month,day,hour,dayofweek
0,12.101562,734.0,765.5,0.099976,28.0,1.0,40.0,-6.199219,2023.0,4.0,30.0,21.0,6.0
1,14.296875,734.0,765.0,-0.300049,18.0,2.0,100.0,-10.101562,2023.0,4.0,30.0,18.0,6.0
2,13.703125,734.5,765.5,-0.099976,23.0,3.0,25.0,-7.101562,2023.0,4.0,30.0,15.0,6.0
3,10.601562,734.5,766.0,0.300049,26.0,2.0,0.0,-8.398438,2023.0,4.0,30.0,12.0,6.0
4,6.398438,734.0,766.0,1.200195,38.0,2.0,0.0,-7.000000,2023.0,4.0,30.0,9.0,6.0

In [16]:
weather_df.describe()

,T,Po,P,Pa,U,Ff,N,Td,year,month,day,hour,dayofweek
count,240.000000,240.0000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.0,240.0,240.000000,240.000000,240.000000
mean,5.816406,inf,inf,-0.048737,54.375000,1.608398,31.015625,-4.453125,inf,4.0,15.500000,10.500000,3.166016
std,8.429688,5.8125,6.257812,1.092773,23.796875,1.053711,43.000000,5.132812,0.0,0.0,8.671875,6.886719,2.039062
min,-12.296875,720.5000,753.000000,-3.000000,11.000000,0.000000,0.000000,-14.000000,2023.0,4.0,1.000000,0.000000,0.000000
25%,-0.500000,730.5000,762.000000,-0.700195,34.000000,1.000000,0.000000,-8.226562,2023.0,4.0,8.000000,5.250000,1.000000
50%,5.199219,735.7500,767.000000,-0.199951,54.000000,1.000000,0.000000,-5.550781,2023.0,4.0,15.500000,10.500000,3.000000
75%,11.923828,739.0000,771.625000,0.500000,75.000000,2.000000,75.000000,-0.500000,2023.0,4.0,23.000000,15.750000,5.000000
max,26.906250,746.0000,779.500000,3.900391,97.000000,5.000000,100.000000,8.000000,2023.0,4.0,30.000000,21.000000,6.000000

In [17]:
weather_df['U'] = weather_df['U'].astype('uint8')
weather_df['Ff'] = weather_df['Ff'].astype('uint8')
weather_df['N'] = weather_df['N'].astype('uint8')

weather_df['year'] = weather_df['year'].astype('uint16')
weather_df['month'] = weather_df['month'].astype('uint8')
weather_df['day'] = weather_df['day'].astype('uint8')
weather_df['hour'] = weather_df['hour'].astype('uint8')
weather_df['dayofweek'] = weather_df['dayofweek'].astype('uint8')

In [18]:
weather_df.describe()

,T,Po,P,Pa,U,Ff,N,Td,year,month,day,hour,dayofweek
count,240.000000,240.0000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.0,240.0,240.00000,240.000000,240.000000
mean,5.816406,inf,inf,-0.048737,54.354167,1.608333,31.020833,-4.453125,2023.0,4.0,15.50000,10.500000,3.166667
std,8.429688,5.8125,6.257812,1.092773,23.795581,1.053354,42.995811,5.132812,0.0,0.0,8.67353,6.888229,2.038678
min,-12.296875,720.5000,753.000000,-3.000000,11.000000,0.000000,0.000000,-14.000000,2023.0,4.0,1.00000,0.000000,0.000000
25%,-0.500000,730.5000,762.000000,-0.700195,34.000000,1.000000,0.000000,-8.226562,2023.0,4.0,8.00000,5.250000,1.000000
50%,5.199219,735.7500,767.000000,-0.199951,54.000000,1.000000,0.000000,-5.550781,2023.0,4.0,15.50000,10.500000,3.000000
75%,11.923828,739.0000,771.625000,0.500000,75.000000,2.000000,75.000000,-0.500000,2023.0,4.0,23.00000,15.750000,5.000000
max,26.906250,746.0000,779.500000,3.900391,97.000000,5.000000,100.000000,8.000000,2023.0,4.0,30.00000,21.000000,6.000000

In [19]:
corr = weather_df.corr()
corr.style.background_gradient(cmap='coolwarm')

C:\Users\A48\anaconda3\envs\tf\lib\site-packages\pandas\io\formats\style.py:3618: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
C:\Users\A48\anaconda3\envs\tf\lib\site-packages\pandas\io\formats\style.py:3619: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [20]:
weather_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   T          240 non-null    float16
 1   Po         240 non-null    float16
 2   P          240 non-null    float16
 3   Pa         240 non-null    float16
 4   U          240 non-null    uint8
 5   Ff         240 non-null    uint8
 6   N          240 non-null    uint8
 7   Td         240 non-null    float16
 8   year       240 non-null    uint16
 9   month      240 non-null    uint8
 10  day        240 non-null    uint8
 11  hour       240 non-null    uint8
 12  dayofweek  240 non-null    uint8
dtypes: float16(5), uint16(1), uint8(7)
memory usage: 4.6 KB

In [21]:
weather_df.to_excel('apriL_weather_cleaned.xlsx')

In [23]:
# S = 111,2×arccos(sin φ1 × sin φ2 + cos φ1 × cos φ2 × cos (L2-L1)),

In [26]:
# 112 * np.arccos(np.sin(51.120587) * np.sin(51.173880) + np.cos(51.120587) * np.cos(51.173880) * np.cos(71.398243 - 71.462535))

7.520344965076431